#splash-content div{
    width: 50%;
}

#navbar{
}

.navbar{
    border-radius: 0px;
}

#search-wrap{
    width: 100% !important;
    display: inherit;
}

.splash-text{
    text-align: center;
}

.search-left{
    margin-left: auto !important;
}

.search-right{
    margin-right: auto !important;
}

#search-container{
    width: 100% !important;
}

body{
}
