<html>
    <head>
        <script src="https://fb.me/react-0.14.7.js"></script>
        <script src="https://fb.me/react-dom-0.14.7.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.3/react-bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> 
    </head>
    <body>
        <script type="text/babel" src="/static/jsx/navbar.js"></script>
        <div id="navbar"></div>
        {% block content %}{% endblock %}
    </body>
</html>
