h4 {
    color: black;
}

h3 {
    color: black;
}

p {
    color: black;
    font-size: 1em;
    margin: 10px;
}

.jumbotron {
    color: black;
    font-size: 1em;
}

.profilePic {
    height: 200px;
    width: auto;
}

