#textInput {
    width: 200px;
}

.search {
    padding-top: 8px;
}

#pokemon-navbar {
  	background-color: #EF5350 !important;
}

table {
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 1px;
}
