table {
    color: black;
}

.moves_metadata_content {
	font-weight:normal
}

.move_type_text_img {
    width: 80px;
    height: auto;
}

.move_class_img {
	border-radius: 5px;
    width: 60px;
    height: auto;
}