table {
    color: black;
}

#moves {
	margin-top: 5%;
}

.moves_metadata_content {
	font-weight:normal
}

#move_type_text_img {
    width: 80px;
}

#move_class_img {
	border-radius: 5px;
    width: 60px;
    margin-left: 4px;
}

#pokemon_table {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 1px;
}

.jumbotron {
	background-color: transparent;
}

#move_type_img {
	width: 100%;
	max-width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
	display: block;
}