table {
    color: black;
}

#moves {
	margin-top: 5%;
}

#move_type {
	margin-left: 17.5%;
	float: left;
}

#move_type_img {
	width: 75%;
}

#move_metadata {
	width: 40%;
    margin-right: 17.5%;
	float: right;
}

.moves_metadata_content {
	font-weight:normal
}

#move_type_text_img {
    width: 80px;
    height: auto;

}

#move_class_img {
	border-radius: 5px;
    width: 60px;
    height: auto;
}

#pokemon {
	padding-top: 350px;
	margin: auto;
	float: bottom;
}