h5 {
    color: black;
}
.type-sprite {
    width: 80px !important;
}

table {
    color: black;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

#img_type_text {
    width: 80px;
    height: auto;
}

#type-img {
    width: 200px;
}

p {
    color:#000000;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#EF5350;
    font-size:16px;
    font-weight:600;
    color: white;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}
