.type-sprite {
    width: 80px !important;
}

table {
    color: black;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

#img_type_text {
    width: 80px;
    height: auto;
}

#type-img {
    width: 200px;
}
