table {
    color: black;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 1px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

#img_type_text {
    width: 80px;
    height: auto;
}