{% extends "base.html" %}
{% block content %}
<link href="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/css/type.css" rel="stylesheet" type="text/css">
<link href="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/css/about.css" rel="stylesheet" type="text/css">
    <div class="container">
        <div class="row"></div>
        <div class="row panel-body text-center">
            <div class="col-md-12 center-block">
                <h3>About the Swecune Trainers</h3>
            </div>
        </div>
        <div class="row shubham panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/shubham.jpg">
                <h4>Shubham Thakkar</h4>
                <p><b>Role: </b>Flask, Apiary, SQLAlchemy, Docker</p>
                <p><b>Git Commits: </b>74</p>
                <p><b>Unit Tests: </b>2</p>
                <p><b>Issues: </b>7</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> I'm a senior CS major at UT. I'm really into messing with random tech, gaming, and photography. </p>
                </div>
            </div>
        </div>
        <div class="row andrew panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/andrew.jpg">
                <h4>Andrew Chun</h4>
                <p><b>Role: </b>Flask, Front-End</p>
                <p><b>Git Commits: </b>59</p>
                <p><b>Unit Tests: </b>2</p>
                <p><b>Issues: </b>8</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> Hi! I'm Andrew and I like long walks on the beach while frolich in the rainforests on my days off from being a senior Computer Science student at the glorious and infamous University of Texas at Austin. I'm also a Pokemon master whose life goal is to obtain the endangered Red Panda and slowly create an army with them to take over the world. <p>
                </div>
            </div>
        </div>

        <div class="row robert panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/robert.jpg">
                <h4>Robert Faulk</h4>
                <p><b>Role: </b>Flask, Front-End, Writing, Vim Evangelist</p> 
                <p><b>Git Commits: </b>88</p>
                <p><b>Unit Tests: </b>2</p>
                <p><b>Issues: </b>15</p>
            </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p>I'm a junior computer science at the University of Texas at Austin who enjoys trashing arrow key users and converting new users to the VIM religion. If I decided to get married in the near future I'm certain that my beautiful wife would be VIM modified heavily to fit all my personal needs as a strong independent male programmer. Additionally my waifu, VIM-chan, is infinitely better than that of EMACS-kun. </p>
                </div>
            </div>
        </div>
        <div class="row vohl panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/vohl.jpg">
                <h4>Andrew Vohl</h4>
                <p><b>Role: </b>Flask, Docker, Carina</p>
                <p><b>Git Commits: </b>12</p>
                <p><b>Unit Tests: </b>2</p>
                <p><b>Issues: </b>9</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p>A vole is a small rodent resembling a mouse but with a stouter body, a shorter, hairy tail, a slightly rounder head, smaller ears and eyes, and differently formed molars (high-crowned and with angular cusps instead of low-crowned and with rounded cusps).</p>
                </div>
            </div>
        </div>

        <div class="row dankmaster panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/dank.jpg">
                <h4>Andrew Dang-Tran</h4>
                <p><b>Role: </b>Flask, Front-End</p>
                <p><b>Git Commits: </b>68</p>
                <p><b>Unit Tests: </b>2</p>
                <p><b>Issues: </b>11</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> 
                    Andrew "Dank-Tran" Dang-Tran is a top undergraduate student on a quest to take the fattest rip off of the dankest vape. 
                        <h6>DANK.</h6>
                        <h5>DANK.</h5>
                        <h4>DANK.</h4>
                        <h3>DANK.</h3>
                        <h2>DANK.</h2>
                        <h1>ALL THE DANKS IN THE WORLD ARE MINE!</h1>
                    </p>
                </div>
            </div>
        </div>
        <div class="row panel-body text-center">
            <div class="col-md-12 center-block">
                <h3>Data Source</h3>
                <a href="http://pokeapi.co">
                    <p><b>Pokeapi.co</b></p>
                    <img id="apiImage" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/favicon.ico">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="jumbotron">
                    <p>We scraped the Pokemon API by making requests for every one of our models, by iterating through each of the model names and concatenating the string to the end of a base URL. We can iteratively request information from the API which will be received in JSON form. Once we have all of the JSON files we can use python's json parser to parse the information into data structures which we can use in our templates.<p>
                </div>
            </div>
        </div>
        <div id="space" class="row panel-body text-center">
            <div class="col-md-4 center-block">
                <h5>Tools Used</h5>
                <p>Bootstrap</p>
                <p>Flask</p>
                <p>Git</p>
                <p>Travis-CI</p>
                <p>Carina</p>
                <p>SQLAlchemy</p>
                <p>Gunicorn</p>
                <p>Nginx</p>
                <p>Docker</p>
                <p>Apiary</p>
            </div>
            <div class="col-md-4 center-block">
                <h5>Stats</h5>
                <p><b># Commits: </b>132</p>
                <p><b># Issues: </b>15</p>
                <p><b># Unit Tests: </b>10</p>
                <button id="test-button"><p>Run Tests</p></button>
                <script>
                    document.getElementById("test-button").onclick = function () {
                        var req = new XMLHttpRequest();
                        var url = "api/run_tests";
                        req.onreadystatechange = function() {
                                if (req.readyState == 4 && req.status == 200) {
                                    alert(req.responseText);
                                }
                        };
                        req.open("GET", url, true);
                        req.send();
                    };
                </script>
            </div>
            <div class="col-md-4 center-block">
                <h5>Links</h5>
                <a href="http://docs.swecune.apiary.io">
                   <p>Apiary API</p>
                </a>
                <a href="https://github.com/SThakkar14/cs373-idb/issues">
                    <p>Github Issue Tracker</p>
                </a>
                <a href="https://github.com/SThakkar14/cs373-idb">
                    <p>Github Repo</p>
                </a>
                <a href="https://github.com/SThakkar14/cs373-idb/wiki">
                    <p>Github Wiki</p>
                </a>
                <a href="https://speakerdeck.com/schun93/swecune-idb-presentation">
                    <p>Speaker Deck</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
