{% extends "base.html" %}
{% block content %}
<link href="/static/css/type.css" rel="stylesheet" type="text/css">
<link href="/static/css/about.css" rel="stylesheet" type="text/css">
    <div class="container">
        <div class="row"></div>
        <div class="row panel-body text-center">
            <div class="col-md-12 center-block">
                <h3>About the Trainers</h3>
            </div>
        </div>
        <div class="row robert panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/img/robert.jpg">
                <h4>Robert Faulk</h4>
                <p><b>Role: </b>Flask, Front-End, Writing</p> 
                <p><b>Git Commits: </b>33</p>
                <p><b>Unit Tests: </b>0</p>
                <p><b>Issues: </b>0</p>
            </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> bio stuff like what else is going on <p>
                </div>
            </div>
        </div>
        <div class="row dankmaster panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/img/dank.jpg">
                <h4>Andrew Dang-Tran</h4>
                <p><b>Role: </b>Flask, Front-End</p>
                <p><b>Git Commits: </b>33</p>
                <p><b>Unit Tests: </b>0</p>
                <p><b>Issues: </b>0</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> bio stuff like what else is going on <p>
                </div>
            </div>
        </div>
        <div class="row shubham panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/img/shubham.jpg">
                <h4>Shubham Thakkar</h4>
                <p><b>Role: </b>Flask, Apiary, SQLAlchemy, Docker</p>
                <p><b>Git Commits: </b>33</p>
                <p><b>Unit Tests: </b>0</p>
                <p><b>Issues: </b>0</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> I'm a senior CS major at UT. I'm really into messing with random tech, gaming, and photography. </p>
                </div>
            </div>
        </div>
        <div class="row andrew panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/img/andrew.jpg">
                <h4>Andrew Chun</h4>
                <p><b>Role: </b>Flask, Front-End</p>
                <p><b>Git Commits: </b>33</p>
                <p><b>Unit Tests: </b>0</p>
                <p><b>Issues: </b>0</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> Hi! I'm Andrew and I like long walks on the beach while frolich in the rainforests on my days off from being a senior Computer Science student at the glorious and infamous University of Texas at Austin. I'm also a Pokemon master whose life goal is to obtain the endangered Red Panda and slowly create an army with them to take over the world. <p>
                </div>
            </div>
        </div>
        <div class="row vohl panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/img/vohl.jpg">
                <h4>Andrew Vohl</h4>
                <p><b>Role: </b>Flask, Docker, Carina</p>
                <p><b>Git Commits: </b>33</p>
                <p><b>Unit Tests: </b>0</p>
                <p><b>Issues: </b>0</p>
              </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <p> bio stuff like what else is going on <p>
                </div>
            </div>
        </div>
        <div class="row panel-body text-center">
            <div class="col-md-12 center-block">
                <h3>Data Source</h3>
                <a href="http://pokeapi.co">
                    <p><b>Pokeapi.co</b></p>
                    <img id="apiImage" src="/static/img/favicon.ico">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="jumbotron">
                    <p>We scraped the Pokemon API by making requests for every one of our models, by iterating through each of the model names and concatenating the string to the end of a base URL. We can iteratively request information from the API which will be received in JSON form. Once we have all of the JSON files we can use python's json parser to parse the information into data structures which we can use in our templates.<p>
                </div>
            </div>
        </div>
        <div id="space" class="row panel-body text-center">
            <div class="col-md-6 center-block">
                <h5>Tools Used</h5>
                <p>Bootstrap</p>
                <p>Flask</p>
                <p>Git</p>
                <p>Travis-CI</p>
            </div>
            <div class="col-md-6 center-block">
                <h5>Links</h5>
                <a href="http://docs.swecune.apiary.io">
                   <p>Apiary API</p>
                </a>
                <a href="https://github.com/SThakkar14/cs373-idb/issues">
                    <p>Github Issue Tracker</p>
                </a>
                <a href="https://github.com/SThakkar14/cs373-idb">
                    <p>Github Repo</p>
                </a>
                <a href="https://github.com/SThakkar14/cs373-idb/wiki">
                    <p>Github Wiki</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
