{% extends "base.html" %}
{% block content %}
    <script src="/static/js/spin.min.js"></script>
    <link rel="stylesheet" href="/static/css/sortable-theme-bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/model-lists.css"/>

    <div id="pokediv" class="container table-responsive"></div>
    <div id="loadhere"></div>

    <script src="/static/js/table-spinner.js"></script>
    <script id="move-table-script" src="/static/js/poke-table.jsx" type="text/babel"></script>
{% endblock %}
