{% extends "base.html" %}
{% block content %}
<link href="/static/css/pokemon.css" rel="stylesheet" type="text/css">
<style type="text/css">
#base-content{
    background: url(/static/img/intro-bg.jpg) no-repeat bottom center scroll;
}
</style>
<div class="poke-container">
    <div class="poke-header">
        <img id="poke-thumbnail" class="thumbnail" src="/static/img/pokemon{{ p_id }}.png">
        <div id="poke-info" class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>#{{ p_id }}: {{ name.title() }}</b></div>
            <!-- List group -->
            <table class="table">
                <tr><th>Primary Type</th><th>{{ p_type1.title() }}</th></tr>
                {% if p_type2 %}
                <tr><th>Secondary Type</th><th>{{ p_type2.title() }}</tr>
                {% endif %}
                <tr><th>HP</th><th>{{ stats["hp"] }}</th></tr>
                <tr><th>Atk</th><th>{{ stats["attack"] }}</th></tr>
                <tr><th>Def</th><th>{{ stats["defense"] }}</th></tr>
                <tr><th>Sp.Atk</th><th>{{ stats["special-attack"] }}</th></tr>
                <tr><th>Sp.Def</th><th>{{ stats["special-defense"] }}</th></tr>
                <tr><th>Speed</th><th>{{ stats["speed"] }}</th></tr>
            </table>
        </div>
    </div>

    <div class="poke-body">
        <script src="/static/js/sortable.min.js"></script>
        <link rel="stylesheet" href="/static/css/sortable-theme-bootstrap.css"/>

        <table id="poke-moves" class="sortable-theme-bootstrap" data-sortable>
            <thead>
                <tr>
                    <th>Sprite</th>
                    <th data-sortable="true">Name</th>
                    <th data-sortable="true">Type</th>
                </tr>
            </thead>
            <tbody>
            {% for mv in moves %}
            <tr>
                <td><img src="/static/img/moves/normal_text.png"></td>
                <td data-value="0">{{ mv.name.title() }}</td>
                <td data-value="-1">{{ mv.m_type.title() }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Intro Header -->
    {{ name }}
</div>


{% endblock %}
