{% extends "base.html" %}
{% block content %}
<div class="container">
    <script src="/static/js/sortable.min.js"></script>
    <link rel="stylesheet" href="/static/css/sortable-theme-bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/pokemon-all.css"/>
    <table class="sortable-theme-bootstrap" data-sortable>
        <thead>
            <tr>
                <th>Sprite</th>
                <th data-sorted="true" data-sorted-direction="descending">Name</th>
                <th># Primary Pokemon</th>
                <th># Secondary Pokemon</th>
                <th># Moves</th>
                <th>Generation</th>
            </tr>
        </thead>
        <tbody>
        {% for ty in type_list %}
        <tr>
            <td><img class="type-sprite" src="/static/img/fire_type.png"></td>
            <td><a href="/type/{{ ty.ID }}">{{ ty.name.title() }}</a></td>
            <td>{{ ty.ID + 134 }}</td>
            <td>{{ ty.ID + 56 }}</td>
            <td>{{ ty.ID +  42 }}</td>
            <td>{{ ty.generation.title() }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
