{% extends "base.html" %}

{% block content %}
    <link href="/static/css/type.css" rel="stylesheet" type="text/css">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="type_img">
                    <img src="{{ type_img }}">
                </div>
            </div>
            <div class="col-md-6">
                <div id="type_metadata">
                    <div class="panel panel-default">
                        <div class="panel-heading"><img id="img_type_text"
                                                        src="/static/img/moves/{{ ty.name + "_text.png" }}">
                        </div>
                        <table class="table">
                            <tr>
                                <th># Primary:</th>
                                <th> {{ numPrimary }} </th>
                            <tr>
                                <th># Secondary:</th>
                                <th> {{ numSecondary }} </th>
                            </tr>
                            <tr>
                                <th># Moves:</th>
                                <th> {{ numMoves }}</th>
                            </tr>
                            <tr>
                                <th>Generation Introduced:</th>
                                <th> {{ ty.generation }} </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=".col-md-12">
                <table class="table">
                    <caption>Super Something</caption>
                    <thead>
                    <tr>
                        <th>Strengths</th>
                        <th>Resistances</th>
                        <th>Immunities</th>
                    <tr>
                    </thead>
                    <tbody>
                    {% for str, res, imm in superEffective %}
                        <tr>
                            <td><img id="img_type_text"
                                     src="/static/img/moves/{{ str.name + "_text.png" }}"></td>
                            <td><img id="img_type_text"
                                     src="/static/img/moves/{{ res.name + "_text.png" }}"></td>
                            <td><img id="img_type_text"
                                     src="/static/img/moves/{{ imm.name + "_text.png" }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class=".col-md-12">
                <div id="pokemon">
                    <script src="/static/js/sortable.min.js"></script>
                    <link rel="stylesheet" href="/static/css/sortable-theme-bootstrap.css"/>
                    <table class="sortable-theme-bootstrap" data-sortable>
                        <caption>Pokemon</caption>
                        <thead>
                        <tr>
                            <th>Sprite</th>
                            <th data-sorted="true" data-sorted-direction="descending">ID</th>
                            <th>Name</th>
                            <th>Primary Type</th>
                            <th>Secondary Type</th>
                            <th>Average Stats</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for pk in pokemon_list %}
                            <tr>
                                <td><img src="{{ pk.sprite }}"></td>
                                <td>{{ pk.ID }}</td>
                                <td><a href="/pokemon/{{ pk.ID }}">{{ pk.name.title() }}</a></td>
                                <td data-value="{{ pk.pType1 }}"><img id="img_type_text"
                                                                      src="/static/img/moves/{{ pk.pType1 + "_text.png" }}">
                                </td>
                                {% if pk.pType2 %}
                                    <td data-value="{{ pk.pType2 }}"><img id="img_type_text"
                                                                          src="/static/img/moves/{{ pk.pType2 + "_text.png" }}">
                                    </td>
                                {% else %}
                                    <td data-value="{{ "" }}"></td>
                                {% endif %}
                                <td>{{ pk.averageStats }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=".col-md-12">
                <div id=moves>
                    <div id="pokemon">
                        <script src="/static/js/sortable.min.js"></script>
                        <link rel="stylesheet" href="/static/css/sortable-theme-bootstrap.css"/>
                        <table id="moves-table" class="sortable-theme-bootstrap" data-sortable>
                            <caption>Moves</caption>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th data-sortable="true">Type</th>
                                <th>Power</th>
                                <th>Accuracy</th>
                                <th>PP</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mv in mv_list %}
                                <tr>
                                    <td><a href="/move/{{ mv.ID }}">{{ mv.name.title() }}</a></td>
                                    <td data-value="{{ mv.m_type }}">
                                        <a href="/type/{{ mv.m_type_id }}">
                                            <img class="move-sprite" id="img_type_text"
                                                 src="/static/img/moves/{{ mv.m_type + "_text.png" }}">
                                        </a>
                                    </td>
                                    <td>{{ mv.power }}</td>
                                    <td>{{ mv.accuracy }}</td>
                                    <td>{{ mv.pp }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
