{% extends "base.html" %}

{% block content %}
<link href="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/css/type.css" rel="stylesheet" type="text/css">
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3" id="move_type">
            <img id="type-img" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/type_{{ ty.id }}.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4" id="move_metadata">
            <div class="panel panel-default">
                <div class="panel-heading"><img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/moves/{{ ty.name }}_text.png">
                </div>
                <table class="table">
                    <tr>
                        <th># Primary:</th>
                        <th> {{ ty.pokemon_primary_type|length }}</th>
                    <tr>
                        <th># Secondary:</th>
                        <th> {{ ty.pokemon_secondary_type|length }}</th>
                    </tr>
                    <tr>
                        <th># Moves:</th>
                        <th> {{ ty.move_type|length }}</th>
                    </tr>
                    <tr>
                        <th>Generation Introduced:</th>
                        <th> {{ ty.generation }}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class=".col-md-12">
            <table class="table">
                <caption>Damage To Attributes</caption>
                <thead>
                <tr>
                    <th>Double Damage To</th>
                    <th>Half Damage To</th>
                    <th>No Damage To</th>
                <tr>
                </thead>
                <tbody>
                {% for double, half, no in relations_to %}
                <tr>
                    {% if double %}

                    <td>
                        <a href="/type/{{ double.id }}">
                            <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/type_text_{{ double.id }}.png">
                        </a>
                    </td>

                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if half %}

                    <td>
                        <a href="/type/{{ half.id }}">
                            <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/type_text_{{ half.id }}.png">
                        </a>
                    </td>

                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if no %}

                    <td>
                        <a href="/type/{{ no.id }}">
                            <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/type_text_{{ no.id }}.png">
                        </a>
                    </td>

                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class=".col-md-12">
            <table class="table">
                <caption>Damage From Attributes</caption>
                <thead>
                <tr>
                    <th>Double Damage From</th>
                    <th>Half Damage From</th>
                    <th>No Damage From</th>
                <tr>
                </thead>
                <tbody>
                {% for double, half, no in relations_from %}
                <tr>
                    {% if double %}

                    <td>
                        <a href="/type/{{ double.id }}">
                            <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/type_text_{{ double.id }}.png">
                        </a>
                    </td>

                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if half %}

                    <td>
                        <a href="/type/{{ half.id }}">
                            <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/type_text_{{ half.id }}.png">
                        </a>
                    </td>

                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if no %}

                    <td>
                        <a href="/type/{{ no.id }}">
                            <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/type_text_{{ no.id }}.png">
                        </a>
                    </td>

                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class=".col-md-12">
            <div id="pokemon" class="table-responsive">
                <link rel="stylesheet" href="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/css/sortable-theme-bootstrap.css"/>
                <table class="sortable-theme-bootstrap" data-sortable>
                    <caption>Pokemon</caption>
                    <thead>
                    <tr>
                        <th data-sortable="false">Sprite</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Primary Type</th>
                        <th>Secondary Type</th>
                        <th>Average Stats</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pk in ty.pokemon_primary_type|list + ty.pokemon_secondary_type|list %}
                    <tr>
                        <td>
                            <a href="/pokemon/{{ pk.id }}">
                                <img src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/pokemon/pokemon_{{ pk.id }}.png">
                            </a>
                        </td>
                        <td>{{ pk.id }}</td>
                        <td>
                            <a href="/pokemon/{{ pk.id }}">{{ pk.name|title}}</a>
                        </td>
                        <td data-value="{{ pk.primary_type_id }}">
                            <a href="/type/{{ pk.primary_type_id }}">
                                <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/moves/{{ pk.primary_type.name }}_text.png">
                            </a>
                        </td>
                        {% if pk.secondary_type %}
                        <td data-value="{{ pk.secondary_type_id }}">
                            <a href="/type/{{ pk.secondary_type_id }}">
                                <img id="img_type_text" src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/moves/{{ pk.secondary_type.name }}_text.png">
                            </a>
                        </td>
                        {% else %}
                        <td data-value=""></td>
                        {% endif %}
                        <td>{{ pk.average_stats }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=".col-md-12">
            <div id="moves">
                <div id="pokemon" class="table-responsive">
                    <link rel="stylesheet" href="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/css/sortable-theme-bootstrap.css"/>
                    <table id="moves-table" class="sortable-theme-bootstrap" data-sortable>
                        <caption>Moves</caption>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Power</th>
                            <th>Accuracy</th>
                            <th>PP</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mv in ty.move_type %}
                        <tr>
                            <td><a href="/move/{{ mv.id }}">{{ mv.name|title }}</a></td>
                            <td data-value="{{ mv.m_type }}">
                                <a href="/type/{{ mv.type_id }}">
                                    <img class="move-sprite" id="img_type_text"
                                         src="https://b1c01bf8eafe786b36c877247c911d2fb8db34b3-www.googledrive.com/host/0Bwhv4pFNwLa8WVhmUmsxN1ExOVU/static/img/moves/{{ mv.type.name}}_text.png">
                                </a>
                            </td>
                            <td>{{ mv.power }}</td>
                            <td>{{ mv.accuracy }}</td>
                            <td>{{ mv.pp }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
